services:
  node-warden:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: warden-node
    ports:
      - "26656:26656"
      - "26660:26660"
    restart: unless-stopped
    volumes:
      - warden_volume:/app/.warden
      - ./entrypoint.sh:/app/entrypoint.sh
      - warden_bin:/app/go

volumes:
  warden_volume:
  warden_bin:
